/* 
ORDER OF IMPORTANCE
1. Inline style (inside an HTML element)
2. External and internal style sheets (in the head section)
3. Browser default
*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: futura;
    src: url(../fonts/Futura/Futura\ Book\ font.ttf);
}

@font-face {
    font-family: futura light;
    src: url(../fonts/Futura/futura\ light\ bt.ttf);
}

header {
    background: transparent;
}


/* FOR BUTTONS
1. link/visited
2. hover
3. active
4. focus
*/

/* FOR BACKGROUND
color, image, repeat, attachment position
*/



/* HEADER */

/* FOR FLEX: grow | shrink | basis */

#title_pg {
    background: transparent url(../images/graphics/wa\ title\ pg\ 2.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: 0;
    padding: 0;
}
#title_txt {
    color: black;
    font-size: 3000%;
    font-family: futura;
    font-style: normal;
    text-align: left;
    background-color: transparent;
    float: left;
    padding: 0;
    margin-top: 20%;
    margin-left: 6%;
}
#subtitle_txt {
    color:darkred;
    font-family: futura;
    font-size: 420%;
    width: 70px;
    height: 100px;
    text-align: left;
    float: right;
    padding: 0;
    margin-top: 24%;
    margin-right: 45%;
}
#enter_bttn {
    color: darkred;
    font-family: futura;
    font-size: 14px;
    float: right;
    padding: 0;
    margin: 0;
}


/* NAVIGATION PAGE */
/*general information on nav page*/
a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 0;
}
a:link a:visited {
    color: black;
}
a:hover, a:active a:focus {
    color: darkred;
}

/* fonts */
.nav_extra {
    font-family: futura light;
    font-size: 14px;
    padding: 0;
}
.nav_mat {
    font-family: futura;
    font-size: 50px;
    background: transparent;
    line-height: 60px;
    letter-spacing: 15px;
    padding: 0;
    margin: 0;
}

/*formatting:columns*/
#nav_pg {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    margin: 0;
}
.nav_column {
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#left {
    float: left;
}
#right {
    float: right;
}

/* red page embellishments */
#red_rect_left, #red_rect_right {
    height: 45vw;
    width: 2vw;
    background-color: darkred;
    padding: 0;
    margin-top: 2vw;
}
#red_rect_left {
    float: left;
}
#red_rect_right {
    float: right;
}

/*formatting: different menu items*/
/* LEFT */
#foreword1 {
    grid-column: 3 / 13;
}
#foreword2 {
    grid-column: 7 / 13;
}

#wbl {
    grid-column: 3 / 13;
}
#mtl {
    grid-column: 10 / 13;
}
#cgs {
    grid-column: 6 / 13;
}

/* RIGHT */
#ppr {
    grid-column: 3 / 13;
}
#ff {
    grid-column: 9 / 13;
}
#new {
    grid-column: 6 / 13;

}

#purchase {
    margin-right: 40%;
}









/* SUBTOPICS*/

/* subtopic text specifications */


.mat_txt {
    font-family: Futura;
    font-size: 300%;
    color: black;
    background: transparent;
    padding: 0;
}






/* subtopic photo grids*/
/* reformat the photos later */
.row {
display: flex;
flex-wrap: wrap;
padding: 0;
overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}
.column img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}





/*
TO DO
- add photo galleries for each subtopic material
- flex elements to ensure they wrap when screen changes (includes, images, etc.
- add navigation panel to side of screen (fixed) (dots) to move from one sub topic to the other
- js animations (add map to interact with the different objects, etc.)
- find information on the book to add to the website
*/


/* make this portion more aesthetically pleasing */
#authors_container {
    background: transparent;
    margin: 0;
    padding: 0;
}
#authors { 
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font: italic, normal;
}

#intro {
    border: transparent;
    width: 350px;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-justify: distribute-all-lines;
    margin: 0;
    padding: 0;
}

.intro_box {
    position: relative;
    display: inline-block;
}
.intro_box #intro {
    position: absolute;
    z-index: 998;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
}
