/* FOR BUTTONS
1. link/visited
2. hover
3. active
4. focus
*/

/* FOR BACKGROUND
color, image, repeat, attachment position
*/

/* HEADER */

/* FOR FLEX: grow | shrink | basis */


#title_pg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#blobs {
    height: 115%;
    opacity: 0.9;
    object-fit: cover;
    position: absolute;
    margin-top: 1.5vw;
    margin-left: 9vw;
    z-index: -999;
}

#title_txt {
    color: black;
    font-size: 3000%;
    font-family: futura;
    font-style: normal;
    text-align: left;
    background-color: transparent;
    float: left;
    margin-top: 20%;
    margin-left: 6%;
}

#subtitle_txt {
    color:darkred;
    font-family: futura;
    font-size: 420%;
    width: 70px;
    height: 100px;
    text-align: left;
    float: right;
    margin-top: 24%;
    margin-right: 45%;
}

#enter_bttn {
    margin-top: 810px;
    margin-left: 1500px;
}

#red_slider {
    height: 45vw;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    position: absolute;
    z-index: 100;
    background-color: darkred;
    opacity: 0.9;
}
