
/* SUBTOPICS*/

/* subtopic text specifications */


.mat_txt {
    font-family: Futura;
    font-size: 300%;
    color: black;
    background: transparent;
    padding: 0;
}






/* subtopic photo grids*/
/* reformat the photos later */
.row {
display: flex;
flex-wrap: wrap;
padding: 0;
overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}
.column img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}





/*
TO DO
- add photo galleries for each subtopic material
- flex elements to ensure they wrap when screen changes (includes, images, etc.
- add navigation panel to side of screen (fixed) (dots) to move from one sub topic to the other
- js animations (add map to interact with the different objects, etc.)
- find information on the book to add to the website
*/


/* make this portion more aesthetically pleasing */
#authors_container {
    background: transparent;
    margin: 0;
    padding: 0;
}
#authors { 
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font: italic, normal;
}

#intro {
    border: transparent;
    width: 350px;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-justify: distribute-all-lines;
    margin: 0;
    padding: 0;
}

.intro_box {
    position: relative;
    display: inline-block;
}
.intro_box #intro {
    position: absolute;
    z-index: 998;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
}
