
/* SUBTOPICS*/

/* subtopic text specifications */
.mat_txt {
    font-family: Futura;
    font-size: 300%;
    color: black;
    background: transparent;
    padding: 0;
}

/* subtopic photo grids*/
/* reformat the photos later */
.row {
display: flex;
flex-wrap: wrap;
padding: 0;
overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}
.column img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}


