
/* SUBTOPICS*/

/* subtopic text specifications */

/*ASIDE: RED BANNER*/

aside, section {
    height: 100%;
    padding: 0;
    margin: 0;
}

aside {
    display: inline-block;
    background-color: darkred;
    width: 25%;
    position: fixed;
}

section {
    display: inline-block;
    float: right;
}

.section {
    display: inline-grid;
    width: 75%;
    place-items: center;
    background-color: transparent;

}


/*TEXT*/
.material_txt {
    color: white;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
}
.bttn {
    float: left;
    margin-top: 120px;
    margin-left: 50px;
}
#paragraph {
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: justify;
    width: 700px;
    padding: 0;
    margin: 0;
}


/*PHOTO GRID*/
.photo_grid {
    display: flex;
    width: 700px;
    margin: 50px;
}
.row {
display: flex;
flex-wrap: wrap;
padding: 0;
overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}
.column, img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}

/*OTHER PHOTOS*/
.photo {
    width: 700px;
    margin: 50px;
}


