/* NAVIGATION PAGE */

#nav_pg {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    margin: 0;
}


/*red embellishments*/
/* !!! PUSHDOWN
- can't use float -- goes with "flow of the page, gets pushed down the page
- use in line block?*/
/*
#red_rect_left, #red_rect_right {
    height: 45vw;
    width: 1.5vw;
    background-color: darkred;
    padding: 0;
    margin-top: 2vw;
}
#red_rect_left {
    float: left;
}
#red_rect_right {
    float: right;
}
*/


/* fonts */
.extra_txt {
    font-family: futura light;
    font-size: 14px;
    padding: 0;
}


/*formatting:columns*/


#left_column {
    float: left;
}
#left_column, #right_column {
    justify-content: space-around;
    max-height: 100%;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*formatting: different menu items*/
/* LEFT */
#foreword1 {
    grid-column: 3 / 13;
}
#foreword2 {
    grid-column: 6 / 13;
}

#wbl {
    grid-column: 3 / 13;
}
#mtl {
    grid-column: 10 / 13;
}
#cgs {
    grid-column: 6 / 13;
}


#ppr {
    grid-column: 3 / 11;
}
#ff {
    grid-column: 9 / 11;
}
#new {
    grid-column: 6 / 11;

}

#purchase {
    grid-column: 6 / 11;
}





/* SUBTOPICS*/

/* subtopic text specifications */


.mat_txt {
    font-family: Futura;
    font-size: 300%;
    color: black;
    background: transparent;
    padding: 0;
}