/* NAVIGATION PAGE */

#nav_pg {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    margin: 0;    
    position: absolute;
}

/* red ractangle embellishments */
#red_rect_left, #red_rect_right {
    display: inline-block;
    position: relative;
    height: 45vw;
    width: 1.5vw;
    background-color: darkred;
    padding: 0;
    margin-top: 2vw;
}
#red_rect_right {
    float: right;
}


/* fonts */
.extra_txt {
    font-family: futura light;
    font-size: 14px;
    padding: 0;
}

/*formatting:columns*/
#left_column {
    float: left;
}
#left_column, #right_column {
    justify-content: space-around;
    max-height: 100%;
    max-width: 45%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*formatting: different menu items*/
/* LEFT */
#foreword1 {
    grid-column: 4 / 11;
    margin-top: 50px;
}
#foreword2 {
    grid-column: 7 / 11;
    margin-top: 25px;
}

#wbl {
    grid-column: 4 / 11;
    margin-top: 50px;
}
#mtl {
    grid-column: 10 / 11;
    margin-top: 60px;
}
#cgs {
    grid-column: 7 / 11;
    margin-top: 100px;
}

#ppr {
    grid-column: 3 / 11;
    margin-top: 150px;
}
#ff {
    grid-column: 9 / 11;
    margin-top: 100px;
}
#new {
    grid-column: 6 / 11;
    margin-top: 100px;

}

#purchase {
    grid-column: 10 / 11;
    margin-top: 125px;
}
