/* 
ORDER OF IMPORTANCE
1. Inline style (inside an HTML element)
2. External and internal style sheets (in the head section)
3. Browser default
*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Futura;
    src: url(../fonts/Futura/Futura\ Book\ font.ttf);
}

header {
    background: transparent;
}

/* NAVIGATION MENU

#nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: stretch;
    width: auto;
    position: fixed;
    top: 0; 
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2%;
    z-index: 999;
}
li {
    display: inline;
}
a {
    display: inline-block;
    font-family: Futura;
    font-size: 24px;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 999;
}
a:link, a:visited {
    color: darkred;
}
a:hover, a:active a:focus {
    color: transparent;
}

*/


/* FOR BUTTONS
1. link/visited
2. hover
3. active
4. focus
*/

/* FOR BACKGROUND
color, image, repeat, attachment position
*/



/* HEADER */

/* FOR FLEX: grow | shrink | basis */

#title_pg {
    background-color: white;
    background-image: url(../images/graphics/wa\ title\ pg\ 2.png);
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#title_txt {
    color: black;
    font-size: 3000%;
    font-family: Futura;
    font-style: normal;
    background-color: transparent;
    text-align: left;
    padding: 0;
    margin-top: 20%;
    margin-left: 6%;
    float: left;
}
#subtitle_txt {
    color:darkred;
    font-family: Futura;
    font-size: 420%;
    width: 70px;
    height: 100px;
    text-align: left;
    float: right;
    padding: 0;
    margin-top: 24%;
    margin-right: 45%;
}


/* make this portion more aesthetically pleasing */
#authors_container {
    background: transparent;
    margin: 0;
    padding: 0;
}
#authors { 
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font: italic, normal;
}

#intro {
    border: transparent;
    width: 350px;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-justify: distribute-all-lines;
    margin: 0;
    padding: 0;
}

.intro_box {
    position: relative;
    display: inline-block;
}
.intro_box #intro {
    position: absolute;
    z-index: 998;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
}


/* SUBTOPICS*/

/* subtopic text specifications */

.nav_txt {
    font-family: Futura;
    font-size: 50%;
    color: black;
    background: transparent;
    padding: 0;
}
.mat_txt {
    font-family: Futura;
    font-size: 300%;
    color: black;
    background: transparent;
    padding: 0;
}

/* subtopic photo grids*/
/* reformat the photos later */
.row {
display: flex;
flex-wrap: wrap;
padding: 0;
overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}
.column img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}





/*
TO DO
- add photo galleries for each subtopic material
- flex elements to ensure they wrap when screen changes (includes, images, etc.
- add navigation panel to side of screen (fixed) (dots) to move from one sub topic to the other
- js animations (add map to interact with the different objects, etc.)
- find information on the book to add to the website
*/