
/* SUBTOPICS*/

/* subtopic text specifications */


/* split page into 2 sections*/
/*have content in floating in the middle of the 75% taken up by the section*/

/*ASIDE: RED BANNER*/

#banner, #content {
    height: 100%;
    padding: 0;
    margin: 0;
}

#banner {
float: left;
    width: 25%;
    background-color: darkred;
    position: fixed;   
}

#content {
    float: right;
    width: 75%;
    display: grid;
    place-items: center;
    background-color: transparent;
    margin-top: 115px;
    margin-bottom: 115px ;
}



/*TEXT*/
.material_txt {
    color: white;
    margin-top: 100px;
    margin-left: 50px;
}
#paragraph {
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: justify;
    width: 700px;
    padding: 0;
    margin: 0;
}

/*fix button issues*/


/*PHOTO GRID*/
.photo_grid {
    display: flex;
    width: 700px;
    margin: 50px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0;
}
.column, img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}

/*OTHER PHOTOS*/
.photo {
    width: 700px;
    margin: 50px;
}


