
/* SUBTOPICS*/

/* subtopic text specifications */


/* split page into 2 sections*/
/*have content in floating in the middle of the 75% taken up by the section*/

.container {
    position: absolute;
}

#banner, #content {
    height: 100%;
}

#banner {
    float: left;
    width: 25%;
    position: fixed;   
}

#content {
    float: right;
    width: 75%;
    display: grid;
    place-items: center;
    background-color: transparent;
    margin-top: 115px;
    margin-bottom: 115px ;
}


/*TEXT*/
.material_txt {
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 1.5vw;
    color: darkred;
    margin-top: 5.5vw;
    margin-left: 9.9vw;
}
#back_bttn {
    font-size: 25px;
    letter-spacing: 0.3vw;
    margin-top: 10vw;
    margin-left: 10.1vw;
}
#paragraph {
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: justify;
    width: 700px;
}


/*PHOTO GRID*/
.photo_grid {
    display: flex;
    width: 700px;
    margin: 50px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.column {
    flex: 50%;
    max-width: 50%;
}
.column, img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
}

/*OTHER PHOTOS*/
.photo {
    width: 700px;
    margin: 50px;
}

#rect_position {
    position: fixed;
}
#red_rect_left, #red_rect_right {
    display: inline-block;
    position: relative;
    object-position: fixed;
    height: 45vw;
    width: 1.5vw;
    background-color: darkred;
    opacity: 0.9;
    margin-top: 2vw;
    z-index: 200;
}

#red_rect_right {
    float: right;
}
