/* 
ORDER OF IMPORTANCE
1. Inline style (inside an HTML element)
2. External and internal style sheets (in the head section)
3. Browser default
*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Futura;
    src: url(../fonts/Futura/Futura\ Book\ font.ttf);
}

header {
    background: transparent;
}

/*navigation menu*/
#nav {
    display: flex;
    justify-content: space-evenly;
    /* flexboxes are amazing, hallelu for flex boxes*/
    list-style-type: none;
    align-items: stretch;
    width: auto;
    position: fixed;
    top: 0; /* nav bar @ top of pg */
    width: 100%; /* full width*/
    text-align: center;
    margin: 0;
    padding: 2%;
}
li {
    display: inline;
}

a {
    display: inline-block;
    font-family: Futura;
    font-size: 24px;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 999;
}
/*
1. link/visited
2. hover
3. active
*/
a:link, a:visited {
    color: darkred;
}
a:hover {
    color: transparent;
}
a:active {
    color: transparent;
}
a:focus {
    color: transparent;
}

/* color, image, repeat, attachment position*/
/* HEADER */
#title_pg {
    background-color: whitesmoke;
    background-size: cover;
    object-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

#title_container {
    display: flex;
    flex: wrap;
    margin: 0;
    padding: 0;
}

/* flex: grow | shrink | basis */

#left {
    float: left;
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-left: 6%;
    padding: 0;
}
#right {
    float: right;
    margin-top: 24%;
    margin-left: 5%;
    height: auto;
}


#title_txt {
    color: black;
    font-size: 3000%;
    font-family: Futura;
    font-style: normal;
    background-color: transparent;
    text-align: left;
}
#subtitle_txt {
    color:darkred;
    font-family: Futura;
    font-size: 400%;
    width: 50px;
    height: 50px;
    padding:0;
    text-align: justify;
}






#authors_container {
    background: transparent;
    margin: 0;
    padding: 0;
}
#authors { 
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font: italic, normal;
}

#intro {
    border: transparent;
    width: 350px;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-justify: distribute-all-lines;
    margin: 0;
    padding: 0;
}

/* for photo grids*/
.box {
    position: relative;
    display: inline-block;
}

.box #intro {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
}

.row {
display: flex;
flex: wrap;
padding: 0;
}
.column {
    float: left;
    flex: 50%;
    padding: 0;
}
.column img {
    margin-top: 0;
    object-fit: cover;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}


/* materials specifications */

.mat_txt {
    font-family: Futura;
    font-size: 800%;
    color: black;
    background: transparent;
    text-align: right;
    margin: 0;
    padding: 7% 3% 0% 0%;
}

.material {
    background-image: url(../images/wooden\ kettle.jpg) none;
}

#wd {
background: transparent, url(../images/wooden\ kettle.jpg) no-repeat scroll center;
background-size: fill;
}